
<div class="header">
  <h1>Formbuilder Prototype</h1> 
</div> 
<div class="content">
  <div class="controls-panel">
    <h2>Controls</h2>
    @for (control of controls; track control) {
      <div class="control">
        <kendo-svg-icon [icon]="control.icon"></kendo-svg-icon>
        <span> {{ control.label}} </span>
      </div>
    }
  </div>
  <div class="editor">
    <h2>Editor</h2>
    <kendo-label style="margin-bottom: -10px" [for]="name" text="Name" />
    <kendo-textbox #name></kendo-textbox>
    <kendo-label style="margin-bottom: -10px" [for]="age" text="Age">
    </kendo-label>
    <kendo-numerictextbox
      #age
      [value]="18"
      format="n0"
    />
</div>
  <div class="attributes-panel">
    <h2>Attributes</h2>
    <kendo-label  text=" Display name">
      <kendo-textbox style="margin-top: 6px" [value]="'Default name'"></kendo-textbox>
    </kendo-label>
  </div>
</div>

